-
    const main = {
        "title": "yahome",
        "theme": "nord",
        "categories": [
            {
                "title": "Multimedia",
                "services": [
                    {
                        "title": "Jellyfin",
                        "img": "icons/jellyfin.svg",
                        "href": "https://jellyfin.home.lab"
                    },
                    {
                        "title": "qBittorrent",
                        "img": "icons/qbittorrent.svg",
                        "href": "https://torrent.home.lab"
                    }
                ]
            },
            {
                "title": "Files",
                "services": [
                    {
                        "title": "Nextcloud",
                        "img": "icons/nextcloud-teal.svg",
                        "href": "https://cloud.home.lab"
                    },
                    {
                        "title": "Syncthing",
                        "img": "icons/syncthing.svg",
                        "href": "https://syncthing.home.lab"
                    },
                    {
                        "title": "Paperless",
                        "img": "icons/paperless.svg",
                        "href": "https://paperless.home.lab"
                    }
                ]
            },
            {
                "title": "Admin",
                "services": [
                    {
                        "title": "Traefik",
                        "img": "icons/traefik.svg",
                        "href": "https://home.lab:8080"
                    },
                    {
                        "title": "InfluxDB",
                        "img": "icons/influxdb.svg",
                        "href": "https://influxdb.home.lab"
                    }
                ]
            },
            {
                "title": "Misc",
                "services": [
                    {
                        "title": "ArchiSteamFarm",
                        "img": "icons/asf.png",
                        "href": "https://asf.home.lab"
                    }
                ]
            }
        ]
    }
