include ../content
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        title= main.title
        link(href="yahome.scss", rel="stylesheet")
        link(href=`yahome-theme.${main.theme}.scss`, rel="stylesheet")
    body
        .container
            .content
                h1= main.title
                span Choose a service below
            .services.content
                each category in main.categories
                    .category
                        h2.category-header= category.title
                        each service in category.services
                            a.service(href=service.href)
                                img(src=service.img, alt=service.title)
                                h3= service.title
