body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;

    @media screen and (min-width: 1024px) {
        width: 1024px;
    }

    .content {
        padding: 1em;

        @media screen and (min-width: 1024px) {
            padding: 2em;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

.category {
    flex: 1;
    display: flex;
    flex-direction: column;

    .category-header {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

.category:not(:last-child) {
    margin-bottom: 2.5em;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
        margin-right: 0.75em;
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-decoration: inherit;

    img {
        height: 6em;
        max-width: 6em;
    }
}

.service:not(:last-child) {
    margin-bottom: 1em;
}
