@use "@fontsource/fira-code/scss/mixins" as FiraCode;
@use "nord/src/sass/nord";

@include FiraCode.fontFace(
  $weight: 400,
  $display: fallback,
  $fontDir: "~node_modules/@fontsource/fira-code/files"
);

html {
    font-family: "Fira Code", "Fira Mono", "Hack", monospace;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 400;
}

body {
    background-image: url("assets/nord.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: nord.$nord0;
    color: nord.$nord6;
}

.services {
    background-color: transparentize(nord.$nord1, 0.1);
    backdrop-filter: blur(64px);
    border-radius: 2em;
}

.service {
    padding: 0.75em 0.25em;
    border-radius: 0.75em;
    box-shadow: 0 3px 6px transparentize(nord.$nord0, 0.2);
    transition: box-shadow 100ms ease-out;
}

.service:focus {
    outline: #8fbcbb solid 0.25em;
}

.service:hover, .service:focus {
    box-shadow: 0 10px 20px transparentize(nord.$nord0, 0.2);
}

.service:active {
    background-color: nord.$nord2;
}
